.home {
    margin-top: 100px;
}

.courses {
    width: 139px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 3px solid rgb(0, 188, 212);
}

.course {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
}

.course-item {
    margin: 0 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
    a {
        display: block;
    }
    div{
      border-top: 4px solid rgb(226,226,226);
      padding: 15px;
      color: rgb(76,87,101);
      font-size: 1rem;
      text-align: center;
      line-height: 1rem;
    }
}
.course-item img {
    width: 100%;
    display: block;
}
@media (min-width: 768px) {
  .home .course-item {
    width: calc(100% - 40px);
  }
}
@media (min-width: 992px) {
  .home .course-item {
    width: calc(50% - 40px);
  }
}
@media (min-width: 1200px) {
  .home .course-item {
        width: calc(33.3333% - 40px);
    }
}
