.signup{
  position: relative;
  form{
    position: absolute;
      top: 40%;
      left:50%;
      width: 80%;
      transform: translate(-50%,-50%);
      border: 1px solid #b7b7b7;
      padding: 40px 10px;
      border-radius: 5px;
      input{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #d9d9d9;
        font-size: 1.2rem;
        outline-style:none;
        &:active{
          border-bottom: 2px solid #ef5c8e;
        }
        &:focus{
          border-bottom: 2px solid #ef5c8e;
        }
      }
      button{
        width: 200px;
        background-color: rgb(255, 64, 129);
        border: none;
        outline-style:none;
        height: 50px;
        line-height: 50px;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 20px;
        &:hover{
          background-color: #f27ba3;
        }
        &:active{
          background-color: rgb(255, 64, 129);
        }
      }
      a{
        display: inline-block;
        text-decoration:none;
        color: gray;
        margin-top: 10px;
        &:hover{
          color:rgb(0,188,212);
        }
      }

  }
  label {
            display: inline-block;
            min-width: 58px;
            margin-bottom: 20px;
            color: #02c4da;
            font-size: 1.2rem;
            font-weight: 600;
            text-align: right;
            margin-right: 10px;
        }
}
  .signup form>div{
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
@media (min-width:768px) {
  .signup form{
    width: 500px;
  }
  .signup form>div{
    width: 80%;
  }
}
